.mnist-trainer {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 20px;
	padding: 20px;
}

.plots {
  display: flex;
}

.activations {
	min-width: 0;
}

.sidebar {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

