#root {
  max-width: 1280px;
  padding: 2rem;
  text-align: left;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: left;
}

.main-container {
  flex: 1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}
