.visualizer-selector {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.title {
  font-size: 64px;
  letter-spacing: 3px;
  margin-bottom: 0;
}

.subtitle {
  font-size: 32px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 300px));
  gap: 40px;
}

.cell {
  aspect-ratio: 1 / 1;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  padding: 1em;
  box-sizing: border-box;
  padding-top: 2em;
  will-change: transform;
}

.cell:hover {
  transform: translateY(-3px);
}

.cell img {
  object-fit: contain;
  width: 100%;
  padding-top: 1em;
}

